*, *:after, *:before {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: rgb(24, 24, 24);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    position: fixed;
    top: 0;
    height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(187, 214, 255);
    width: 100%;
}

.logo {
    width: 50%;
    display: flex;
    margin-left: 20px;
}

nav {
    width: 50%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    color: rgb(24, 24, 24);
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
}

section {
    margin-bottom: 80px;
}

#hero {
    margin-top: 125px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type='email'] {
    border: none;
    border-radius: 5px;
    background: #ccc;
    padding: 10px;
    width: 30%;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1100px) {
    input[type='email'] {
        width: 80%;
    }
}

.button {
    background: rgb(0, 162, 255);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    text-transform: uppercase;
}

.feature {
    display: flex;
    margin-bottom: 30px;
}

.icon {
    display: flex;
    color: rgb(0, 162, 255);
    align-items: center;
    justify-content: center;
    width: 20px;
}

i {
    font-size: 35px;
}

.desc {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

h3, p {
    margin: 10px 0;
}

#how-it-works {
    display: flex;
    justify-content: center;
}

.card {
    border: 1px solid rgb(24, 24, 24);
    width: 32%;
    margin: 10px;
    border-radius: 4px;
    padding-bottom: 20px;
}

#pricing {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.title-card {
    padding: 15px 20px;
    background: rgb(187, 214, 255);
    text-align: center;
    font-weight: 700;
}

ul {
    padding: 0;
}

#pricing ul li {
    line-height: 2em;
}

footer {
    height: 70px;
    background: #ccc;
    text-align: center;
}

footer p {
    padding-top: 26px;
}